<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>App</title>
    <style>
        table {
            width: 100%;
        }

        table, th, td {
            border: 1px solid lightgrey;
            border-collapse: collapse;
        }

        th, td {
            padding: 2px 4px;
        }
    </style>
</head>
<body>
{{{ body }}}
</body>
</html>
